<a href="https://colab.research.google.com/github/carlos-luengas-22/edd_1310_2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Intro Python 3
### Variables
tipo dinamico
`escuela = "fes aragon"`

In [5]:
escuela = "Fes Aragon"
print(escuela)
print("----")
edad=20
estatura=1.84
fumador=True
frase="""
Esta es 
una frase
de multiples lineas
y tambien 
es un tipo de dato
"""
print(frase)
nombre='jose'

Fes Aragon
----

Esta es
una frase
de multiples lineas
y tambien
es un tipo de dato

#Print
con comas, 

con signos mas + 

con format()

con el operador f

In [6]:
# la coma da un espacio entre variables
print(nombre,edad)

jose 20

In [10]:
#El mas concatena como en java
print("hola " + nombre + str(edad))
#se convierte en cadena para poder concatenar, pero si ambos son string  no importa
print(nombre+frase)

hola jose20
jose
Esta es
una frase
de multiples lineas
y tambien
es un tipo de dato

In [19]:
# con formato -> su nombre es jose y su edad es 13 años
print("su nombre es",nombre,"y su edad es de",edad,"años")
print("su nombre es {0} y su edad es de {1} años".format(nombre,edad))
print("su nombre es {1} y su edad es de {0} años".format(nombre,edad))

su nombre es jose y su edad es de 20 años
su nombre es jose y su edad es de 20 años
su nombre es 20 y su edad es de jose años

In [20]:
# con formato con el operador f""
print(f"su nombre es {nombre} y su edad es de {13} años")

su nombre es jose y su edad es de 13 años

#Caracter de escape
\n salto de linea

\t tabulador

\a beep

\" imprimir comillas en palabras

\' imprimir comillas simples

In [21]:
"""
un comentario
solamente
"""
print(f"\tMi nombre es\n\t\t{nombre}")

	Mi nombre es
		jose

#Ayuda de tipo de datos en Python

dir()

help()

In [ ]:
#str, int , float, bool... list, dict, set
dir(str)

In [32]:
print(nombre.capitalize())
print(nombre.upper())
print(frase.upper())
print(nombre.title())
print(frase.title())

Jose
JOSE

ESTA ES
UNA FRASE
DE MULTIPLES LINEAS
Y TAMBIEN
ES UN TIPO DE DATO

Jose

Esta Es
Una Frase
De Multiples Lineas
Y Tambien
Es Un Tipo De Dato

In [34]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

#Clase String
Es manejada como un arreglo (c o java) o lista aqui en python

telefono = "Huawei mate 30 pro"

print(telefono[0])

In [41]:
telefono = "Huawei mate 30 pro"
print(telefono[0])

H

#Slicing (Rebanado)
[inicio:stop:incremento]

In [58]:
print(telefono[7:11:1])
#El inicio y el incremento son opcionales
print(telefono[0:11:1])
#usando 
print(telefono[0:11:1].upper())
print(telefono[0:15:1].upper())
#Incremento negativo (alreves xd)
print(telefono[::-1].upper())
#Diferente inicio
print(telefono[:13:-1])
#Declarando inicios
ini=-3
inc=-1
print(telefono[ini::inc])
ini2=-3
inc2=1
print(telefono[ini2::inc2])

mate
Huawei mate
HUAWEI MATE
HUAWEI MATE 30
ORP 03 ETAM IEWAUH
orp
p 03 etam iewauH
pro

#Metodos de String(str)

In [75]:
facultad="facultad de estudios superiores aragon"
saludo="""    
     hola
amigos
"""
print(facultad.upper())
print(facultad.count(" "))
print(facultad.count("f"))
print(facultad.count("j"))
print(facultad.format())
print(facultad.title())
print(facultad.find("s"))
#Quita espacios en blanco y saltos de linea 
print(facultad.strip())
print(saludo.strip())
#Longitud del string
tamaño=len(facultad)
print(len(facultad))
print(f"tamaño de la cadena es {tamaño} caracteres")
#Corta caracteres seleccionados
print(facultad)
print(facultad.split("u"))
print(facultad.split(" "))
print(facultad.strip().split(" "))

#Copiar cadeanas
otra_cadena = facultad
print(otra_cadena)
otra_cadena="Fes Aragon"
print(facultad)
print(otra_cadena)

#copiar listas
colores=[verde,rosa]

FACULTAD DE ESTUDIOS SUPERIORES ARAGON
4
1
0
facultad de estudios superiores aragon
Facultad De Estudios Superiores Aragon
13
facultad de estudios superiores aragon
hola
amigos
38
tamaño de la cadena es 38 caracteres
facultad de estudios superiores aragon
['fac', 'ltad de est', 'dios s', 'periores aragon']
['facultad', 'de', 'estudios', 'superiores', 'aragon']
['facultad', 'de', 'estudios', 'superiores', 'aragon']
facultad de estudios superiores aragon
facultad de estudios superiores aragon
Fes Aragon