<a href="https://colab.research.google.com/github/carlos-luengas-22/edd_1310_2021/blob/master/6deoctubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
# String continuacion 

numeros_txt = "     1,  2,   3,  4     , 5     ,    35    ,   15    , 12   "
print(numeros_txt)
numeros_txt = numeros_txt.lstrip().split(',')
print(numeros_txt)

for j in range(len(numeros_txt)):
  numeros_txt[j] = int(numeros_txt[j].strip())

print(numeros_txt)

#Funcion Range

# range(inicio, stop , incremento )
print(range(0,10,3))
rango= range(1,20,3)

for x in rango:
  print(x)

     1,  2,   3,  4     , 5     ,    35    ,   15    , 12
['1', '  2', '   3', '  4     ', ' 5     ', '    35    ', '   15    ', ' 12   ']
[1, 2, 3, 4, 5, 35, 15, 12]
range(0, 10, 3)
1
4
7
10
13
16
19

# Listas 
- Mutables
- Se declaran con []
- Su selector [int]
- Puede ser en cualquier tipo 

#Tuplas
- No mutables
- Se declaran con ()
- Selector []

#Diccionarios
- Son mutables
- Son conjunto de pares llave:valor
- Son equivalentes a los objetos Json de JavaScirpt

#Conjuntos
- Representaciones de la teoria de conjuntos

In [31]:
#Listas equivale a arreglos
frutas=["Pera" , "Manzana" , "fresa" , "Kiwi" , "Naranja"]
print(frutas)
cosas=["Cuaderno", 2 , 3.1416 , True , False , ["Rojo" , "Azul"]]
print(cosas)
frutas[2]="Fresa"
print(frutas)
#Ageagar
frutas.append("Aguacate")
print(frutas)
#Agregar en otra poscicion
frutas.insert(2,"Sandia")
print(frutas)

fecha = ["06" , "10" , "2020"]  
print(fecha)
fecha_str = "/".join(fecha)
print(fecha_str)

['Pera', 'Manzana', 'fresa', 'Kiwi', 'Naranja']
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja']
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['Pera', 'Manzana', 'Sandia', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['06', '10', '2020']
06/10/2020

In [45]:
#eliminar elementos
print(cosas)
cosas.append("Libro")
cosas.append("Lapiz")
print(cosas)
cosas.pop()
print(cosas)
algo=cosas.pop()
print(cosas)
print(algo)
#Vaciar lista
cosas.clear()
print(cosas)

#ordenar
print(frutas)
frutas.sort()
print(frutas)

['Libro', 'Libro']
['Libro', 'Libro', 'Libro', 'Lapiz']
['Libro', 'Libro', 'Libro']
['Libro', 'Libro']
Libro
[]
['Pera', 'Manzana', 'Sandia', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandia']

In [57]:
#Slicing

cosas = ["Cuaderno" , 2 , 3.1416 , True , False , ["Rojo" , "Azul"]]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:5:1])

numeros = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numeros[8:13])
#El incremento se puede anular pk va de 1 en 1

#Sustituir Rebanadas -2,-2 -> [0,1,2,3,4,5,6,7,-2,-2,13]

numeros[8:13] = [-2,-2]
print(numeros)

#Preguntar por existencia
print(-2 in numeros)

[True, False]
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
de
[8, 9, 10, 11, 12]
[0, 1, 2, 3, 4, 5, 6, 7, -2, -2, 13, 14, 15]
True

#Listas Multidimension 
listas dentro de listas

In [78]:
computadoras = ["HP" , "Mac Book Pro 17" , "Mate Book" , "Lenovo Legion"]
oss = ["Windows 10" , "Linux" , "Android" , "Ios" ]

computo = [computadoras , oss]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][0:5])
print(computo[0][3][0:6])
print(computo[0][3][5::-1])
print("Linux" in computo[1])
dbms = ["Mysql","Open Source" , False] , ["MS SQL Server" ,  "De paga", True]
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][1])

['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo Legion']
['Windows 10', 'Linux', 'Android', 'Ios']
Mate Book
Mate
Lenovo
ovoneL
True
[['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo Legion'], ['Windows 10', 'Linux', 'Android', 'Ios'], (['Mysql', 'Open Source', False], ['MS SQL Server', 'De paga', True])]
Mysql
De paga